extends layout

block content
  h1= title + game.name
  ul
    li Summary
      p &nbsp&nbsp#{game.summary}
    li Date of publish
      p &nbsp&nbsp#{game.date_format}
    li Publisher
      p &nbsp&nbsp  #[a(href= game.publisher.url)=game.publisher.name]
    li Genre
    |&nbsp&nbsp
    for i in game.genre
        a(href= i.url)= i.name + ",  "
    li Steam page
      p &nbsp&nbsp#{game.steam_page}