extends layout

block content
  h1= title + ": " + game.name
  ul
    li Summary
      p &nbsp&nbsp#{game.summary}
    li Date of publish
      p &nbsp&nbsp#{game.date_format}
    li Publisher
      p &nbsp&nbsp  #[a(href= game.publisher.url)=game.publisher.name]
    li Genre
      br
      p
        for i in game.genre
          |&nbsp&nbsp #[a(href= i.url)= i.name + " , "]
    li Steam page
      br
      p &nbsp&nbsp #[a(href= game.steam_page target="_blank")= game.steam_page]
  br
  p #[a(href=game.url+'/update') Update] 
  p #[a(href=game.url+'/delete') Delete] 